<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- このキーはリソース グループ 'Vulpecula.Universal' の Application Insights のリソース 'Vulpecula.Universal' に対応するものです -->
  <!-- このキーはリソース グループ 'Vulpecula' の Application Insights のリソース 'Vulpecula.Universal' に対応するものです -->
  <InstrumentationKey>62956e58-e3af-4c8c-8e7b-8183191c9794</InstrumentationKey>
</ApplicationInsights>